.chat-main
 .chat-main__group-info
  .chat-main__group-info__gropu-box
   .chat-main__group-info__gropu-box__group-name test
   .chat-main__group-info__gropu-box__member-list member:tester
   .chat-main__group-info__gropu-box__edit-btn Edit
 .chat-main__message-list
 .chat-main__message-form