.side-bar
 .side-bar__user-name
  .side-bar__user-name__items
   .side-bar__user-name__items__name name
   .side-bar__user-name__items__icons
    = link_to "#", class: "side-bar__user-name__items__icons__icon" do
     = icon('fa', 'edit')
    = link_to "#", class: "side-bar__user-name__items__icons__icon" do
     = icon('fa', 'cog')
    

 .side-bar__group-list
