.side-bar
 .side-bar__user-name
  .side-bar__user-name__items
   .side-bar__user-name__items__name name
   .side-bar__user-name__items__icons
    = link_to "#", class: "side-bar__user-name__items__icons__icon" do
     = icon('fa', 'edit')
    = link_to "#", class: "side-bar__user-name__items__icons__icon" do
     = icon('fa', 'cog')
    
 .side-bar__group-lists
  .side-bar__group-lists__lists-box
   .side-bar__group-lists__lists-box__list
    .side-bar__group-lists__lists-box__list__group-name test
    .side-bar__group-lists__lists-box__list__group-info まだメッセージがありません
   .side-bar__group-lists__lists-box__list
    .side-bar__group-lists__lists-box__list__group-name test
    .side-bar__group-lists__lists-box__list__group-info no message
   .side-bar__group-lists__lists-box__list
    .side-bar__group-lists__lists-box__list__group-name test
    .side-bar__group-lists__lists-box__list__group-info no message
   .side-bar__group-lists__lists-box__list
    .side-bar__group-lists__lists-box__list__group-name test
    .side-bar__group-lists__lists-box__list__group-info no message
   .side-bar__group-lists__lists-box__list
    .side-bar__group-lists__lists-box__list__group-name test
    .side-bar__group-lists__lists-box__list__group-info no message
   .side-bar__group-lists__lists-box__list
    .side-bar__group-lists__lists-box__list__group-name test
    .side-bar__group-lists__lists-box__list__group-info no message
   .side-bar__group-lists__lists-box__list
    .side-bar__group-lists__lists-box__list__group-name test
    .side-bar__group-lists__lists-box__list__group-info no message
   .side-bar__group-lists__lists-box__list
    .side-bar__group-lists__lists-box__list__group-name test
    .side-bar__group-lists__lists-box__list__group-info no message
   .side-bar__group-lists__lists-box__list
    .side-bar__group-lists__lists-box__list__group-name test
    .side-bar__group-lists__lists-box__list__group-info no message