*{
  box-sizing: border-box;
}

.side-bar {
  position: relative;
  &__user-name{
    background-color: #253141;
    height: 100px;
    width: 300px;
    float: left; 
    position: absolute;
  }
  &__group-list{
    background-color: #2f3e51;
    float: left;
    height: 100vh;
    width: 300px;
  }
}

.chat-main {
  float:right;
  height: 100vh;
  position: relative;
  &__group-info{
    background-color: #fff;
    position: absolute;
    height: 100px;
    width:calc(100vw - 300px);
  }
  &__message-list{
    background-color: #fafafa;
    height: calc(100vh - 100px - 90px);
    width:calc(100vw - 300px);
    position: absolute;
  }
  &__message-form{
    background-color: #d2d2d2;
    width:calc(100vw - 300px);
    height: 90px;
    position: absolute;

  }
}